body .container {
  width: 470px;
  margin-left: 10px;
  margin-top: 25px;
  overflow: hidden;
  color: #333333;
  font-weight: 700; }

a {
  text-decoration: underline;
  color: #333333; }
  a:hover {
    color: #691427;
    text-decoration: none; }

header {
  text-indent: -9999px;
  background: url(/images/recess-logo.png) no-repeat 0 0;
  height: 121px;
  margin-bottom: 40px; }

ul {
  margin-left: 0;
  padding-left: 0; }
  ul li {
    list-style: none;
    line-height: 2.4em; }

section#navigation {
  margin-bottom: 35px; }
  section#navigation ul li a {
    text-decoration: none;
    border-bottom: 3px solid #333333;
    letter-spacing: -2px;
    font-size: 71px; }

.subnav {
  margin-bottom: 210px;
  text-transform: lowercase; }
  .subnav ul li {
    float: left;
    font-size: 32px;
    font-weight: 400;
    margin-right: 20px;
    letter-spacing: -1px; }
    .subnav ul li a {
      color: black; }
      .subnav ul li a:hover {
        color: #691427; }

footer {
  font-size: 30px;
  letter-spacing: -1px; }
